@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");

:root {
  --color-primary: #e6f4ff;
  --color-secondary: #91caff;
  --color-dark: #4096ff;
}

html {
  background-color: var(--color-primary);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  background-color: var(--color-secondary);
  text-align: center;
}

footer {
  background-color: var(--color-secondary);
  font-size: larger;
  text-align: center;
}

aside {
  box-sizing: border-box;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: var(--aside-width);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid var(--color-secondary);
}

main {
  margin-left: var(--aside-width);
  padding: 0 1em;
}

.main-content {
  --aside-width: 12em;
  position: relative;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}