<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/development</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">954412tpU!</property>
        <property name="hibernate.show_sql">false</property>
        <mapping class="Entities.DevTeam"/>
        <mapping class="Entities.Developer"/>
        <mapping class="Entities.Customer"/>
        <mapping class="Entities.Specification"/>
        <mapping class="Entities.Project"/>
        <mapping class="Entities.Invoice"/>
    </session-factory>
</hibernate-configuration>