<div class="card mx-auto my-4" style="width: 24rem;">
    <div class="card-body">
        <div *ngIf="!developer" class="p-5">
            <h3>Loading...</h3>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 50%"></div>
            </div>
        </div>
        <div *ngIf="developer">
            <h4 class="card-title text-center">{{developer.name}}</h4>
            <p class="card-text text-center my-2">Salary: {{developer.salary}}k/year</p>
            <div class="d-flex justify-content-center mt-3">
                <a class="btn btn-outline-primary mx-2" routerLink="../../">Back</a>
                <a class="btn btn-success mx-2" [routerLink]="['../../form', developer.id]">Edit</a>
                <button class="btn btn-danger mx-2" (click)="onDeleteDeveloper()">Delete</button>
            </div>
        </div>
    </div>
</div>