.container {
  margin-top: 30px;
}

h2 {
  color: var(--primary-color);
}

ul.list-group {
  margin-top: 20px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}
